# eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
*.ipr
*.iws
*.iml


# other
*.txt
*.json

#1.7.x
1.7.x/.gradle
1.7.x/.idea
1.7.x/.settings
1.7.x/bin
1.7.x/build
1.7.x/config
1.7.x/crash-reports
1.7.x/eclipse
1.7.x/logs
1.7.x/mods
1.7.x/resourcepacks
1.7.x/saves

#1.8.x
1.8.x/.gradle
1.8.x/.idea
1.8.x/.settings
1.8.x/build
1.8.x/eclipse
1.8.x/run

#1.9-1.10.2
1.9-1.10.2/.gradle
1.9-1.10.2/.idea
1.9-1.10.2/.settings
1.9-1.10.2/build
1.9-1.10.2/eclipse
1.9-1.10.2/run

#1.11-1.11.2
1.11-1.11.2/.gradle
1.11-1.11.2/.idea
1.11-1.11.2/.settings
1.11-1.11.2/build
1.11-1.11.2/eclipse
1.11-1.11.2/run